[submodule "content/themes/casper"]
	path = content/themes/casper
	url = https://github.com/TryGhost/Casper.git
[submodule "ollie_ops"]
	path = ollie_ops
	url = git@github.com:myollie/ollieghost_ops.git
