
<aside class="widget widget_ads clearfix hidden">\
    <div class="widget-title-area">\
        <h5 class="widget-title"><span>Add Unit</span></h5>\
    </div>\
    <div class="ads-widget">\
        <a title="ads" class="ads-widget-anchor" href="#">\
            <img src="assets/images/add.jpg" alt="">\
        </a>\
    </div>\
</aside>\
<script>\
    $('.ads-widget-anchor').href(Sidebar_Widget_Order['url']);\
</script>
